@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@theme {
    --font-prompt: "Prompt", san-serif;
}

@keyframes slide {
  0%, 20% {
    transform: translateX(0%);
  }
  33%, 53% {
    transform: translateX(-33.3333%);
  }
  66%, 86% {
    transform: translateX(-66.6666%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 12s infinite;
}

@keyframes indicator {
  0%, 33%   { width: 2rem; background-color: rgb(19, 111, 248); }
  34%, 100% { width: 1.5rem; background-color: rgb(255, 255, 255); }
}

.animate-indicator1 {
  animation: indicator 12s infinite;
}
.animate-indicator2 {
  animation: indicator 12s infinite;
  animation-delay: 4s;
}
.animate-indicator3 {
  animation: indicator 12s infinite;
  animation-delay: 8s;
}

.btn{
    padding-block: 5px;
    padding-inline: 30px;
    border-radius: 10px;
    cursor: pointer;
}


progress.progress {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  border-radius: 9999px;
}


progress.progress::-webkit-progress-bar {
  background-color: #e5e7eb;
  border-radius: 9999px;
}

progress.progress::-webkit-progress-value {
  background-color: #41ea47;
  border-radius: 9999px;
  transition: width 0.3s ease;
}

progress.progress::-moz-progress-bar {
  background-color: #41ea47;
  border-radius: 9999px;
  transition: width 0.3s ease;
}


